@media only screen and (max-width: 600px) {
  .CoverImage {
    width: 100%;
    position: absolute;
    height: 150px;
    border-radius: 0px 0px 20px 20px;
  }
  .ImageText {
    position: absolute;
    margin-left: 12%;
    margin-top: 60px;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
}

@media only screen and (min-width: 600px) {
  .About {
    width: 100%;
    align-items: center;
  }
  .Cover {
  }

  .CoverImage {
    width: 100%;
    position: absolute;
    height: 350px;
    border-radius: 0px 0px 50px 50px;
  }

  .ImageText {
    position: absolute;
    margin-left: 12%;
    margin-top: 130px;
    font-size: 60px;
    color: rgb(0, 0, 0);
  }
}
