@media only screen and (max-width: 600px) {
  .Header {
    position: fixed;
    top: 0;
    z-index: 5;
  }

  .Body {
    position: fixed;
    top: 60px;
    bottom: 60px;
    right: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
  }
  .Footer {
    position: fixed;
    bottom: 0;
    height: 55px;
    z-index: 5;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .Header {
    position: fixed;
    top: 0;
    z-index: 5;
  }
  .Body {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%;
  }
  .Footer {
  }
}

.Donation {
  background-color: antiquewhite;
  text-align: center;
  margin: auto;
  border-radius: 20px;
}
